@font-face {
  font-family: 'Dancing Script';
  src: url(./DancingScript-VariableFont_wght.ttf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "JF Open";
  src: url(./jf-openhuninn-1.1.ttf);
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;

}

.overlay {  
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

h1 {
  margin: 0 0 72px 0;
  color: white;
  font-family: 'Dancing Script', sans-serif;
  font-size: 6rem;
  z-index: 9;
}

header {
  height: 48px;
}

footer {
  height: 40px;
}

header, footer {
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
  width: 100vw;
  color: white;
  font-family: 'JF Open', sans-serif;
  gap: 120px;
}

header a {
  color: white;
  text-decoration: none;
  font-family: 'JF Open', sans-serif;
  font-size: 1.8rem;
}

header a:hover {
  text-decoration: underline;
}

#content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 32px 0;
  gap: 32px;
}

div p {
  font-family: 'Dancing Script', sans-serif;
  font-size: 2rem;
  color: white;
  margin: 0;
}

.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  border-radius: 20px;
  padding: 24px;
}

h2 {
  font-family: 'Dancing Script', sans-serif;
  font-size: 2.5rem;
}

.card-description {
  font-family: 'JF Open', sans-serif;
  font-size: 1rem;
  font-weight: normal;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 48px;
}

.card-container {
  width: 660px;
  height: 200px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 3fr;
  column-gap: 32px;
}

.food-image {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

h3 {
  font-family: 'JF Open', sans-serif;
  font-size: 1.5rem;
}
